<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WhatsAppConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <WhatsAppConsole.Properties.Settings>
            <setting name="PhoneNumber" serializeAs="String">
                <value>919833722410</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>L1pvBLbplaSTJgOzWobeLXz19GM=</value>
            </setting>
            <setting name="DestinationNumber" serializeAs="String">
                <value>917208732256</value>
            </setting>
            <setting name="IMEI" serializeAs="String">
                <value>352649071252686</value>
            </setting>
        </WhatsAppConsole.Properties.Settings>
    </userSettings>
</configuration>
